.article {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.article img {
  width: 40%;
  border-radius: 50%;
  filter: drop-shadow(10px 10px 10px #0d5b61a6);
}

.contact-form-container {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 30px;
  border-radius: 20px;
  border: 1px solid #0d5b61a6;
  box-shadow: 10px 10px 10px #0d5b61a6;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.contact-form-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  background-color: #fafafa;
}

.input-group i {
  margin-left: 10px;
  color: #888;
}

.input-group input,
.input-group textarea {
  border: none;
  outline: none;
  width: 100%;
  padding: 5px;
  font-size: 16px;
  background-color: transparent;
  margin-left: 5px;
}

.input-group .description-group input {
  width: calc(100% - 30px); /* Ajuste del tamaño del campo de descripción */
}

.input-group .description-group i {
  order: -1; /* Mueve el icono antes del placeholder */
  margin-left: 5px;
}

.input-group textarea {
  resize: vertical;
  height: 100px;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button i {
  margin-right: 5px;
}

button:hover {
  background-color: #45a049;
}
