.body {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  align-items: center;
  background: rgb(255, 255, 255);
  justify-content: space-around;
  border-bottom: 1px solid #002d41;
  flex-wrap: wrap; /* Permite que los elementos se ajusten en pantallas pequeñas */
}

.container__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container__div--img {
  width: 65px;
  height: 65px;
  margin: 5px;
}

.container__div--name {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.container__div--strong {
  color: #002d41;
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
}

.container__div--span {
  color: #002d41;
  font-size: 20px;
}

.container__links {
  padding: 10px;
}

.container__links--ul {
  text-align: right;
}

.container__links--ul li {
  display: inline-block;
  margin-left: 10px;
}

.container__links--ul li a {
  display: inline-block;
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  color: #002d41;
  font-size: larger;
}

.container__links--ul li a:hover {
  text-decoration: underline;
  color: rgb(90, 100, 238);
}

/* Media Queries para hacer el diseño responsive */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .container__links--ul {
    text-align: center;
    margin-top: 10px;
  }
}

@media (max-width: 480px) {
  .container__div--img {
    width: 50px;
    height: 50px;
  }

  .container__div--strong {
    font-size: medium;
  }

  .container__links--ul li a {
    font-size: small;
  }
}
