.main-banner .item {
  display: flex;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10% 5%;
  margin-top: 0px;
}

.main-banner .item-1 {
  background-image: url(../images/imagen_3.jpg);
}

.ofertas {
  box-sizing: border-box;
  border: 1px solid #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  width: 100%;
  border-radius: 20px;
  backdrop-filter: blur(30px);
  box-shadow: 0px 0px 30px #fff;
}

.ofertas p {
  font-size: 30px;
  margin: 0;
  color: #fff;
  text-shadow: 2px 2px 2px #000;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

.sub_ofertas {
  display: flex;
  justify-content: space-around;
  padding: 5px;
  flex-wrap: wrap;
}

.descripcion {
  margin: 10px;
  text-align: left;
  padding: 3px;
}

.descripcion strong {
  text-shadow: 2px 2px 2px #fff;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}

/* INFORMACION ADICIONAL */
.ademas {
  width: 100%;
  margin: 10px 0;
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 10px;
  backdrop-filter: blur(30px);
  box-shadow: 0px 0px 30px #fff;
  display: flex;
  flex-direction: column;
}

.ademas p {
  font-size: 30px;
  margin: 0;
  color: #fff;
  text-shadow: 2px 2px 2px #000;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

.otras {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.ademas .otras strong {
  text-shadow: 2px 2px 2px #fff;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}

@media (min-width: 600px) {
  .ofertas, .ademas {
    width: 45%;
  }

  .ademas {
    margin-left: 10%;
  }
}

@media (min-width: 768px) {
  .ofertas, .ademas {
    width: 45%;
  }

  .ademas {
    margin-left: 10%;
  }
}
