.contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  flex-wrap: wrap;
  border: 1px solid #000;
  background-image: url(../images/imagen_2.jpg);
  background-size: cover;
}

.contenedor strong {
  font-size: 40px;
  color: #000000;
  text-shadow: 2px 2px 2px#ffffff;
}

.contenedor span {
  font-size: 40px;
  text-shadow: 2px 2px 2px#ffffff;
}

.container__comidas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 10px;
  border-radius: 30px;
  padding: 10px;
  width: 95%;
  margin: 10px;
  backdrop-filter: blur(20px);
  box-shadow: 10px 10px #81959785;
}

.container__comidas .comida {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  border: 1px solid #000;
  border-radius: 20px;
  padding: 20px;
  width: 90%;
  height: 340px;
  margin: 5px;
  box-shadow: 5px 5px 5px #ffffffc4;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.comida_1 {
  background: linear-gradient(#915a12e1, #fff);
}
.comida_2 {
  background: linear-gradient(#911212e1, #fff);
}
.comida_3 {
  background: linear-gradient(#090b77e1, #fff);
}
.comida_4 {
  background: linear-gradient(#129118e1, #fff);
}
.comida_5 {
  background: linear-gradient(#918912e1, #fff);
}
.comida_6 {
  background: linear-gradient(#8d1291e1, #fff);
}
.comida_7 {
  background: linear-gradient(#12917ce1, #fff);
}
.comida_8 {
  background: linear-gradient(#123a91e1, #fff);
}
.comida_9 {
  background: linear-gradient(#f1e648, #fff);
}
.comida_10 {
  background: linear-gradient(#1f4117e1, #fff);
}

.b_1 {
  background-color: #915a12e1;
}
.b_2 {
  background-color: #911212e1;
}
.b_3 {
  background-color: #090b77e1;
}
.b_4 {
  background-color: #129118e1;
}
.b_5 {
  background-color: #918912e1;
}
.b_6 {
  background-color: #8d1291e1;
}
.b_7 {
  background-color: #12917ce1;
}
.b_8 {
  background-color: #123a91e1;
}
.b_9 {
  background-color: #f1e648;
}
.b_10 {
  background-color: #1f4117e1;
}

.container__comidas img {
  width: 100%;
  margin-top: 10px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 2px 5px 2px #555151;
}

.content {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 10px;
  z-index: 1;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.container__comidas strong {
  font-family: "Times New Roman", Times, serif;
  font-size: x-large;
  color: #000000;
  text-shadow: 2px 2px 2px #ffffff, 2px 2px 2px #ffffff;
}

.content strong {
  font-family: "Times New Roman", Times, serif;
  font-size: larger;
  color: #000000;
  text-shadow: 2px 2px 2px #ffffff, 2px 2px 2px #ffffff;
}

.boton_buy {
  position: relative;
  display: inline-block;
  width: 50%;
  margin-top: 10px;
  padding: 10px 20px;
  color: #fff;
  border-radius: 40px;
  text-decoration: none;
  text-align: center;
  transition: 0.8s ease-in-out;
  align-self: center;
  text-shadow: 2px 2px 2px #000000, 2px 2px 2px #000000;
}

.boton_buy:hover {
  background-color: #2e2e2e;
}
